.project {
  border-radius:0.5rem;
  margin: 0 auto;
  overflow:hidden;
  background-color: var(--clr-bg-alt);
  text-align: center;
  box-shadow: var(--shadow);
  transition: transform 0.2s linear;
}

.project:hover {
  transform: translateY(-7px);
}

.project__data {
  padding:1rem;
}

.project__description {
  margin-top: 1em;
}

.project__stack {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1.2em 0;
}

.project__stack-item {
  margin: 0.5em;
  font-weight: 500;
  font-size: 0.8rem;
  border-radius:0.4rem;
  padding: 0.2rem 0.4rem;
  border:0.1rem solid var(--clr-primary);
  box-shadow: var(--shadow);
  background-color:var(--clr-bg);
  color: var(--clr-fg-alt);
}

.project .link--icon {
  margin-left: 0.5em;
}
